.main{
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 40px 0 40px;
  
}

.main__left{
  max-width: 50%;
  width: 100%;
  
}

.main__right{
  max-width: 50%;
  width: 100%;
}